<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C35BB35A1F2AADC800F7B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C35BB36E1F2AADC800F7B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C35BB3791F2AADC800F7B0D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
